.body{
  display:flex;
  flex-direction: column;
}

#appDiv{
  display:flex;
}


.sidebar{
  flex: 1;
  max-width: 12%;
  height: 200px;
  flex: 1;
  align-items: center;
  justify-content: flex-start;
  border: 1px dashed red;
}

.champContentBox{
  flex: 1;
  width: 20px;
  height: 200px;
  align-items: center;
  justify-content:flex-end;
  border: 1px dashed blue;
}