.spellsContainer{
  display: flex;
  justify-content: center;
  align-content: center;
}

.spell{
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  border: 2px solid white;
  box-sizing: border-box;
  padding: 10px 10px 10px 10px;
  min-height: fit-content;
  width: 22rem;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.5);
}

.spellImg{
  flex-grow: 1;
  max-height: 4rem;
  max-width: 4rem;
  vertical-align: middle;
}

.spellName{
  flex: 1;
  margin-left: 15px;
  font-size: 2rem;
  color: black;
 
}

.spellText{
  margin-top: 10px;
  font-size: 1.3rem;
}
