.spellsContainer{
  display: flex;
  flex: 2;
  justify-content: center;
  align-content: center;

}

.spell{
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  border: 2px solid white;
  box-sizing: border-box;
  padding: 10px 10px 10px 10px;
  height: 15rem;
  width: 20rem;
  background-color: rgba(0, 0, 0, 0.4);
}

.spellImg{
  flex-grow: 1;
  max-height:4rem;
  max-width: 4rem;
}

.spellName{
  flex-grow: 1;
  flex: 1;
  margin-top: 15px;
  margin-left: 15px;
  justify-self: center;
  font-size: 2rem;
  color: black;
 
}

.spellText{
  flex-grow: 4;
  font-size: 1rem;
}
